body
{
	background-image: url("https://images.pexels.com/photos/2101187/pexels-photo-2101187.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;

	
	
}

.container
{
	background-color: rgba(0, 0, 0, 0.5);
	margin-top: 5%;
	margin-bottom: auto;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5% ;
	
	


}
.container label
{
	color: rgb(255, 255, 255);

}

.ip
{
	margin-bottom: 10%;
}
.container label
{
	font-size: 80%;
}

.container input,textarea 
{
	color: aliceblue;
	background-color: rgba(0,0,0,0);
	border-left-color: rgba(0,0,0,0);
	border-right-color: rgba(0,0,0,0);
	border-top-color: rgba(0,0,0,0);
	text-align: center;
	width: 50%;
	
	margin-right: 50%;
	margin-left: 10%;
	padding-right: 5%;
	padding-left: 5%;
	font-size: 90%;
}

#button
{
	background-color: rgba(0,0,0,0.4);
	border-color: rgba(0,0,0,0);
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 1%;
	margin-bottom: 10%;
	margin-left: 20%;
	color: rgba(255, 255, 255, 0.555);
	font-size: 150%;
	font-family: cursive;

}
